<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') %>
  <body>
    <div
      class="container d-flex justify-content-center align-items-center"
      style="height: 100vh"
    >
      <div>
        <a class="btn btn-secondary me-5" href="/">Back Home Page</a>
      </div>
      <h1>404 Page Doesn't exist!</h1>
    </div>
  </body>
</html>
